/Adresse.class
/Assurance.class
/AssuranceAnnulation.class
/CB.class
/Chambre.class
/Cheque.class
/Client.class
/Contrat.class
/Destination.class
/Facture.class
/Formule.class
/Hotel.class
/MoyenPaiement.class
/Pension.class
/Personne.class
/Prestation.class
/PrestationHebergement.class
/Reservation.class
/Test.class
/Voiture.class
/Vol.class
/Voyage.class
/Voyageur.class
/etatReservation.class
